{% extends 'base.html.twig' %}

{% block title %}Hiolle Industries - Recherche Avancée{% endblock %}

{% block body %}
    {% include 'le_CSS/css_recherche_avancee.html.twig' %}

    <div class="recherche">
        {{ form_start(form) }}
        <h4>{{ form_row(form.utilisateur_h_indu) }}</h4>
        <button type="submit" class="btn btn-primary">Rechercher</button>
        {{ form_end(form) }}

    </div>

    <div class="contenu">
        {% for lesPC in LesOrdiHiolleIndustries %}
            <h1><u>{{ lesPC.utilisateurHIndu }}</u></h1>
            <div class="info">
                <div class="infoplus"><h3>Nom de station</h3>
                    {{ lesPC.nomStationHIndu }}</div>
                <div class="infoplus"><h3>Marque</h3>
                    {{ lesPC.marqueStationHIndu }}</div>
                <div class="infoplus"><h3>Adresse</h3>
                    {{ lesPC.adresseMacHIndu }}</div>
                <div class="infoplus"><h3>TAG</h3>
                    {{ lesPC.tagHIndu }}</div>
                <div class="infoplus"><h3>Microsoft</h3>
                    {{ lesPC.microsoftHIndu }}</div>
                <div class="infoplus"><h3>Station d'acceuil</h3>
                    {{ lesPC.stationAcceuilHIndu }}</div>
                <div class="infoplus"><h3>Moniteur</h3>
                    {{ lesPC.moniteurHIndu }}</div>
                <div class="infoplus"><h3>Clavier + Souris</h3>
                    {{ lesPC.clavierSourisHIndu }}</div>
            </div>
            <div class="lesBoutons">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("modif_hiolle_industries", { id:lesPC.id}) }}" class="btn btn-dark">Modifier</a>
                    <a href="{{ path("sup_hiolle_industries", { id:lesPC.id}) }}" class="btn btn-danger">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock %}