<table class="table table-hover">
    <thead class="titre">
    <tr>
        <th>Nom serveur
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_nom_serv_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_nom_serv_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>Emplacement
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_salle_serv_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_salle_serv_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>IP
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_ip_serv_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_ip_serv_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>DC
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_dc_serv_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_dc_serv_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>Rôle
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_role_serv_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_role_serv_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        {% if is_granted('ROLE_ADMIN') %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <!--La liste-->
    <tbody>
    {% for lesServ in ServeursHiolleTech %}
        <tr>
            <td>{{ lesServ.nomServHTech }}</td>
            <td>{{ lesServ.salleServHTech }}</td>
            <td>{{ lesServ.ipServHTech }}</td>
            <td>{{ lesServ.dcServHTech }}</td>
            <td>{{ lesServ.roleServHTech }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path("modif_serv_h_tech", { id:lesServ.id}) }}" class="btn btn-dark">Modifier</a>
                <a href="{{ path("sup_serv_h_tech", { id:lesServ.id}) }}" class="btn btn-danger">Supprimer</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>