<table class="table table-hover">
    <thead class="titre">
    <tr>
        <th>Poste
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_poste_o_l_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_poste_o_l_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>Utilisateur
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_utilisateur_o_l_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_utilisateur_o_l_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>Type
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_type_o_l_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_type_o_l_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        <th>Licence
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("trier_licence_o_l_h_tech_asc")}}"><img src="../Image/flèche_bas.png" height=30px>Ordre croissant</a>
                    <a class="dropdown-item" href="{{ path("trier_licence_o_l_h_tech_desc")}}"><img src="../Image/flèche_haut.png" height=30px>Ordre décroissant</a>
                </div>
            </div>
        </th>
        {% if is_granted('ROLE_ADMIN') %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <!--La liste-->
    <tbody>
    {% for lesOffices in OfficeLicenceHTech %}
        <tr>
            <td>{{ lesOffices.posteOLHTech }}</td>
            <td>{{ lesOffices.utilisateurOLHTech }}</td>
            <td>{{ lesOffices.typeOLHTech }}</td>
            <td>{{ lesOffices.LicenceOLHTech }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path("modif_licence_office_h_tech", { id:lesOffices.id}) }}" class="btn btn-dark">Modifier</a>
                    <a href="{{ path("sup_licence_office_h_tech", { id:lesOffices.id}) }}" class="btn btn-danger">Supprimer</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>