{% extends 'base.html.twig' %}

{% block title %}Amodiag - Recherche Avancée{% endblock %}

{% block body %}
    {% include 'le_CSS/css_recherche_avancee.html.twig' %}

    <div class="recherche">
        {{ form_start(form) }}
        <h4>{{ form_row(form.Utilisateur_habituel) }}</h4>
        <button type="submit" class="btn btn-primary">Rechercher</button>
        {{ form_end(form) }}

    </div>

    <div class="contenu">
        {% for lesPC in lesOrdinateurs %}
            <h1><u>{{ lesPC.utilisateurHabituel }}</u></h1>
            <div class="info">
                <div class="infoplus"><h3>Nom de station</h3>
                    {{ lesPC.nomDeLaStation }}</div>
                <div class="infoplus"><h3>Marque</h3>
                    {{ lesPC.marqueDeLaStation }}</div>
                <div class="infoplus"><h3>Adresse</h3>
                    {{ lesPC.adresseMac }}</div>
                <div class="infoplus"><h3>TAG</h3>
                    {{ lesPC.tag }}</div>
                <div class="infoplus"><h3>Microsoft</h3>
                    {{ lesPC.microsoftOffice }}</div>
                <div class="infoplus"><h3>Station d'acceuil</h3>
                    {{ lesPC.stationAcceuil }}</div>
                <div class="infoplus"><h3>Moniteur</h3>
                    {{ lesPC.moniteur }}</div>
                <div class="infoplus"><h3>Clavier + Souris</h3>
                    {{ lesPC.clavierSouris }}</div>
            </div>
            <div class="lesBoutons">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("modif_liste", { id:lesPC.id}) }}" class="btn btn-dark">Modifier</a>
                    <a href="{{ path("sup_liste", { id:lesPC.id}) }}" class="btn btn-danger">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock %}